<!DOCTYPE html>


{% extends 'login_logout_header.html' %}

{% load i18n %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Удалить адрес" %}</title>
</head>
<body>
{% block content %}
    <ul>
        <li>{{address.country}}</li>
        <li>{{address.town}}</li>
        <li>{{address.street}}</li>
        <li>{{address.house}}</li>
        {% if address.flat %}
            <li>{{address.flat}}</li>
        {% endif %}
    </ul>
<p>{% trans "Действительно удалить этот адрес?" %}</p>
<form method="post">
    {% csrf_token %}
    <a href=""><button>{% trans "Удалить" %}</button></a>
</form>
<p>
<a href="{{ go_back_link }}"><button>{% trans "Вернуться" %}</button></a>
</p>
{% endblock %}

</body>
</html>